{%extends 'layout.html'%}
{%block content%}
<body>
    <!--Header -->
    <section class="img-sel">
      <div class="container text-bg-light p-3">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6 img-sel">
              <div id="carouselExample" class="carousel slide">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img id = "Data" src="https://www.tutorialspoint.com/assets/questions/media/426142-1668760872.png" class="d-block w-50" alt="...">
                    </div>
                    {%for url in urls %}
                    <div class = "carousel-item">
                        <img src = "{{url['url']}}" class = 'd-block w-50'>
                    </div>
                    {%endfor%}
                  <!-- <div class="carousel-item">
                    <img src="static/images/dbimg2.jpeg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="static/images/dbimg3.jpeg" class="d-block w-100" alt="...">
                  </div>
                </div> -->
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
              <button type="button" class="btn btn-yes" data-bs-target="#carouselExample" data-bs-slide="next">YES</button>
              <button type="button" class="btn btn-no" data-bs-target="#carouselExample" data-bs-slide="next">NO</button>
            </div>
          </div>
        </div>

      </div>
    </section>
    <section id="footer">
      <img src="static/images/wave2.png" class="footer-img">
      <div class="container">
        <div class="row">
          <div class="col-md-4 footer-box">
            <a class="navbar-brand" href="#"><img src="static/images/logo.png" alt="logo"></a>
            <p>This Traffic violation detection system is a technology designed to enhance road safety by detecting and identifying riders who violate helmet laws. The system uses computer vision and machine learning algorithms to analyse images and identify motorcyclists who are not wearing helmets while riding on the roads.The helmet detection system for traffic violations helps reduce accidents and promote safer riding habits by enforcing helmet laws and regulations.</p>
          </div>         
        </div>
      </div>
    </section>
</body>
{%endblock%}